@import url("clash-display.css");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "ClashDisplay-Variable", Tahoma, sans-serif;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

a {
    text-decoration: none;
}

.app__blogs {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    background-color: #FFFFFF;
    padding: 1rem 0.4rem;
}

.blogs__header {
    width: 100%;
    height: 92px;
}

.blogs__nav {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.2rem;
}

.nav__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0rem;
    cursor: pointer;
    -webkit-animation: scaleLogo 1.6s infinite ease alternate;
    animation: scaleLogo 1.6s infinite ease alternate;
}

.nav__logo>img {
    width: 68px;
    height: auto;
    aspect-ratio: 1;
    -o-object-fit: cover;
    object-fit: cover;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    pointer-events: none;
}

.nav__logo>img.hide__logo {
    display: none;
}

.nav__logo>p {
    font-size: 1.6rem;
    font-weight: 400;
    color: #232323;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    opacity: 0;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    visibility: hidden;
}

.nav__logo:hover>p {
    opacity: 1;
    visibility: visible;
}

.nav__logo:hover>img {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

@-webkit-keyframes scaleLogo {
    0% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
    }

    100% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }
}

@keyframes scaleLogo {
    0% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
    }

    100% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }
}

.all__blogs {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.8rem;
}

.seperator {
    width: 100%;
    height: 2px;
    background-color: #232323;
}

.blog {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 1.2rem;
}

.blog>img {
    width: 500px;
    max-width: 100%;
    height: auto;
    object-position: bottom;
    object-fit: cover;
}

.blog>h2 {
    text-align: left;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    color: #232323;
}

.blog>h2 {
    text-align: left;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    color: #232323;
}

.blog>p {
    font-size: 1.2rem;
    color: #232323;
    font-weight: 500;
}

.blog>.blog__details {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 1rem;
    gap: 1rem;
}

.blog__details p {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: #000;
}

.blog__details h3 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #000;
}

.blog__details h2 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #000;
}

.blog__details h4 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #000;
}

.blog__details ul li strong {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.8px;
    color: #000;
}

@media all and (max-width: 600px) {
    * {
        cursor: default;
    }

    .blog>.blog__details {
        margin-top: 0.2rem;
    }
}

@media all and (max-width: 400px) {
    .blogs__nav {
        padding: 0.4rem;
    }

    .nav__logo p {
        display: none;
    }
}