@import url("clash-display.css");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "ClashDisplay-Variable", Tahoma, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
}

main {
  width: 100%;
  height: 100%;
  padding: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 1.2rem;
}

main > a img {
  width: 72px;
  height: auto;
  aspect-ratio: 1;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
  -webkit-animation: scaleLogo 1.2s infinite ease alternate;
  animation: scaleLogo 1.2s infinite ease alternate;
}

@-webkit-keyframes scaleLogo {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }
}

@keyframes scaleLogo {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }
}

main h2 {
  width: 100%;
  font-size: 1.6rem;
  color: #fff;
  text-align: left;
}

.details h2 {
  width: 100%;
  font-size: 1.6rem;
  color: #fff;
  text-align: left;
  margin-top: 0.8rem;
}

.details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 0.9rem;
}

.details h5 {
  font-size: 1.2rem;
  padding: 0.8rem 0 0 0;
  font-weight: 500;
  color: #fff;
  text-align: left;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.details p {
  font-size: 1rem;
  color: #ddd;
  text-align: left;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}
